{% extends "base.html" %} {% block title %}Entrar{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Inicio de sesión</h3>
    <div class="form-group">
       <label for="email">Dirección de correo electrónico</label>
       <input type="email" class="form-control" id="email" name="email" placeholder="Ej. usuario@email.com"> 
    </div>
   
    <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Introduce una clave"> 
    </div>
    
    <br/>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}