{% extends "base.html" %} {% block title %}Inicio{% endblock %}

{% block content %}
<h1 align="center">Notas</h1>
<ul class="list-group list-group-horizontal list-group-flush" id="notes">
    {% for nota in user.notes %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{ nota.data }}
        <button type="button" class="btn-close" aria-label="Close" onClick="borraNota({{ nota.id }})"></button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Agregar nota</button>
    </div>
</form>
{% endblock %}